html,
body {
  font-family: Nunito, sans-serif;
  height: 100%;
  scroll-behavior: smooth;
  color: white;
  background-color: var(--bg-primary);
}
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Merriweather, serif;
}

.text-primary {
  color: var(--primary-100);
}
.text-secondary {
  color: var(--secondary-100);
}

.button {
  max-width: 17.5rem;
  width: 100%;
  padding-block: 0.5rem;
  text-align: center;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  letter-spacing: 0.05em;

  /* If we use button as a link */
  text-decoration: none;
  display: block;

  transition: background-color 300ms ease-out;
}

.button.primary,
.button.secondary {
  text-transform: uppercase;
  font-size: var(--text-md);
  font-weight: bold;
}

.button.full-width {
  max-width: 100%;
}
.button.primary {
  background-color: var(--primary);
  color: white;
}
.button.primary:hover {
  background-color: var(--primary-active);
}
.button.secondary {
  background-color: var(--secondary);
  color: white;
}
.button.secondary:hover {
  background-color: var(--secondary-active);
}

.button.neutral {
  background-color: var(--bg-dark);
  color: white;
}
.button.neutral:hover {
  background-color: var(--bg-primary);
  color: white;
}

.button.transparent {
  background: none;
  border: none;
  font-size: inherit;
  color: inherit;
}
