/*
  HEADER
*/
.navbar {
  height: 5.625rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 4px 20px 10px rgba(29, 29, 29, 0.25);
  padding-inline: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 40;
}
.navbar h1 {
  font-size: 2.625rem;
  font-weight: bold;
}

.navbar > ul {
  list-style: none;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.navbar > ul a {
  text-decoration: none;
  color: white;
  font-size: var(--font-2md);
}
.navbar > ul a::after {
  content: "";
  display: block;
  background-color: var(--primary-100);
  height: 2px;
  width: 0%;
  transition: all 0.3s ease-out;
}
.navbar > ul a:hover::after {
  width: 120%;
}

.navbar .user-card {
  font-size: var(--font-lg);
}

.burger {
  display: none;
  color: white;
  border: none;
  background: none;
  width: 48px;
  cursor: pointer;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 60%;
  overflow: hidden;
  pointer-events: none;
  background-color: var(--bg-dark-active);
  padding: 1.5rem;
  transform: translateX(100%);
  z-index: 50;
  transition: transform 300ms ease-out;
}
.mobile-menu > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mobile-menu > ul a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: var(--bg-dark);
}
.mobile-menu span {
  position: absolute;
  cursor: pointer;
  top: 1rem;
  right: 1.5rem;
  font-size: var(--font-2md);
}
.mobile-menu > .user-card {
  margin-top: auto;
  margin-inline: auto;
}

.mobile-menu--shadow {
  content: "";
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  opacity: 0;
  transition: opacity 200ms ease-out;
}

@media only screen and (max-width: 1440px) {
  .navbar {
    height: 5rem;
    padding-inline: 1.25rem;
  }
  .navbar h1 {
    font-size: 2.325rem;
  }
  .navbar > ul a {
    font-size: var(--font-md);
  }
  .navbar > .user-card {
    font-size: var(--font-2md);
  }
}

@media only screen and (max-width: 800px) {
  .navbar > ul {
    display: none;
  }
  .navbar > .user-card {
    display: none;
  }

  .burger {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .mobile-menu {
    width: 100%;
  }
}

/*
  FOOTER
*/
footer {
  background-color: var(--bg-dark);
  margin-top: 5rem;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .content {
  padding-block: 2rem;
  padding-inline: 5rem;
  display: grid;
  grid-template-columns: 2fr auto 1fr;
  justify-items: center;
  height: 100%;
  max-width: 90rem;
  width: 100%;
  margin-inline: auto;
  gap: 4rem;
}
footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 5rem;
  row-gap: 3rem;
}

footer .link-group > h4 {
  font-size: var(--font-2md);
  font-weight: bold;
  font-family: "Nunito";
  margin-bottom: 0.25rem;
  white-space: nowrap;
}
footer .link-group ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}
footer .link-group a {
  text-decoration: none;
  color: var(--text-gray);
}
footer .link-group a:hover {
  color: var(--text-gray-active);
}

footer .spacer {
  width: 1px;
  background-color: var(--text-gray);
}

footer .bug-form {
  width: 100%;
}
footer .form-title {
  font-size: var(--font-2md);
  font-weight: bold;
  font-family: "Nunito";
  margin-bottom: 0.25rem;
  text-align: center;
}
footer form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  max-width: 35rem;
  margin-inline: auto;
}
footer form .form-group {
  display: flex;
  flex-direction: column;
}
footer form .form-group input,
textarea {
  padding: 0.3rem;
  font-size: var(--text-sm);
  font-weight: 600;
  background: var(--bg-dark-active);
  border: 1px solid var(--text-gray);
  color: white;
}
footer form .form-group label {
  font-size: var(--font-sm);
  font-weight: 600;
}
footer form .form-group textarea {
  resize: none;
}
footer form button {
  margin-top: 0.5rem;
}

footer .copyright {
  background-color: var(--bg-dark-active);
  padding-inline: 2rem;
  padding-block: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
footer h2 {
  font-size: var(--font-2lg);
}

.socials {
  display: flex;
  gap: 3rem;
}
.socials a {
  width: 3rem;
  height: 3rem;
  padding: 12px;
  background-color: white;
  border-radius: 50%;
  color: black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  position: relative;
}
.socials a::before {
  content: attr(data-label);
  position: absolute;
  background-color: var(--primary); 
  color: white;
  text-decoration: none;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-30px) rotate(25deg) translateX(-50%);
  opacity: 0;
  left: 50%;
  transition: 200ms cubic-bezier(.42, 0, .44, 1.68);;
}
.socials a::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--primary);
  transform: translateY(-30px) rotate(25deg) translateX(-50%);
  opacity: 0;
  left: 50%;
  transition: 200ms cubic-bezier(.42, 0, .44, 1.68);
}
.socials a:hover::before {
  transform: translateY(-65px) translateX(-50%) rotate(0);
  opacity: 1;
}
.socials a:hover::after {
  transform: translateY(-50px) rotate(0) translateX(-50%);
  opacity: 1;
}
.socials a:hover {
  background-color: var(--primary);
  color: white;
}


@media only screen and (max-width: 1024px) {
  footer .content {
    padding-block: 1.75rem;
    padding-inline: 4rem;
    grid-template-columns: 1fr;
  }
  footer .copyright {
    margin-top: 3rem;
    flex-direction: column;
  }

  footer .links {
    border-right: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 800px) {
  footer .content {
    padding-block: 1.5rem;
    padding-inline: 2.5rem;
  }
}
@media only screen and (max-width: 480px) {
  footer .content {
    padding-block: 1.25rem;
    padding-inline: 2rem;
  }
  footer .link-group {
    width: 10rem;
  }
}