main {
  width: min(75%, 90rem);
  margin-inline: auto;
  padding-top: 5rem;
}

.short-info {
  display: flex;
  gap: 2.5rem;
}
.short-info img {
  max-width: 480px;
  width: 100%;
  height: auto;
}

.short-info .perex {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
.perex h1 {
  font-size: var(--font-2lg);
}
.perex p {
  letter-spacing: 0.03em;
  font-weight: 300;
}
.perex .button-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: auto;
}

.details {
  margin-top: 5rem;
  max-width: 800px;
}
.details h2 {
  font-size: var(--font-2lg);
}
.details h3 {
  margin-top: 1.25rem;
}
.details h4 {
  margin-top: 0.75rem;
}
.details ul {
  list-style-position: inside;
}

@media only screen and (max-width: 1439px) {
  .short-info {
    flex-direction: column;
    gap: 1.75rem;
    max-width: 800px;
    margin-inline: auto;
  }
  .perex .button-group {
    flex-direction: row;
  }
}
@media only screen and (max-width: 1024px) {
  .short-info {
    gap: 1rem;
  }
  .perex .button-group {
    flex-direction: column;
  }
  .perex h1 {
    font-size: var(--font-lg);
  }
  .perex p {
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: var(--font-xs);
  }

  .details {
    font-size: var(--font-xs);
  }
  .details h2 {
    font-size: var(--font-lg);
  }
  .details h3 {
    font-size: var(--font-2md);
  }
  .details h4 {
    font-size: var(--font-md);
  }
}
