/*
  HP - HERO
*/
.hp-hero {
  position: relative;
  width: 100%;
  height: calc(100dvh - 5rem);
  padding-top: 2.5rem;
  padding-inline: 4.375rem;
}
.hp-hero video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
  object-fit: cover;
}

.hp-hero h1 {
  font-size: 6rem;
  font-weight: bold;
  line-height: 110%;
  position: relative;
  z-index: 10;
}
.hp-hero h2 {
  color: var(--primary-100);
  font-size: 2.25rem;
  max-width: 40vw;
  position: relative;
  z-index: 10;
}

.hp-hero a {
  color: var(--primary-100);
  font-size: var(--font-2md);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: absolute;
  bottom: 1.75rem;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hp-hero a > svg {
  transition: 250ms cubic-bezier(0.42, 0, 0.44, 1.68);
}
.hp-hero a:hover > svg {
  transform: translateY(25px);
}

@media only screen and (max-width: 1439px) {
  .hp-hero h1 {
    font-size: 5rem;
  }
  .hp-hero h2 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 800px) {
  .hp-hero {
    padding-top: 2rem;
    padding-inline: 3rem;
  }
  .hp-hero h1 {
    font-size: 4rem;
  }
  .hp-hero h2 {
    font-size: 1.75rem;
    max-width: 60vw;
  }
  .hp-hero a {
    font-size: var(--font-md);
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }
}
@media only screen and (max-width: 480px) {
  .hp-hero {
    padding-top: 1.5rem;
    padding-inline: 2rem;
  }
  .hp-hero h1 {
    font-size: 3rem;
  }
  .hp-hero h2 {
    font-size: 1.5rem;
    max-width: 100%;
  }
}

/*
  HP - GAMES
*/
.game-container {
  padding: 5rem;
  max-width: 90rem;
  margin-inline: auto;
}
.game-container h2 {
  font-size: var(--font-xl);
  font-weight: bold;
}
.game-container p {
  max-width: 35rem;
  font-size: var(--font-2md);
}

.game-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin-top: 3.5rem;
  column-gap: 3rem;
  row-gap: 2.5rem;
}

.game-card-wrapper {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-card {
  width: min(380px, 100%);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 50ms ease, box-shadow 0.1s ease-in-out;
  transform-style: preserve-3d;

  text-decoration: none;
  color: white;
}
.game-card:hover {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}
.game-card .game-info {
  padding-inline: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  height: 12.5rem;
  background-color: var(--bg-dark);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  display: flex;
  flex-direction: column;
}
.game-card .game-info p {
  font-size: var(--font-sm);
}
.game-card h3 {
  font-size: var(--font-2lg);
}
.game-card img {
  width: 100%;
  height: 16.25rem;
  object-fit: cover;
}
.game-card .game-info .tags {
  margin-top: auto;
  display: inline-flex;
  gap: 0.25rem;
  font-size: var(--font-xs);
}

@media only screen and (max-width: 1439px) {
  .game-container {
    padding: 3rem;
  }
  .game-cards {
    grid-template-columns: repeat(2, 380px);
    column-gap: 2.5rem;
    row-gap: 2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .game-container {
    padding: 2.5rem;
  }
  .game-cards {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 480px) {
  .game-container {
    padding: 1.75rem;
  }
  .game-container h2 {
    font-size: var(--font-2lg);
    font-weight: bold;
  }
  .game-container p {
    max-width: 35rem;
    font-size: var(--font-md);
  }

  .game-card .game-info p {
    font-size: var(--font-xs);
  }
  .game-card h3 {
    font-size: var(--font-lg);
  }
}

/*
  HP - VIP
*/

.vip {
  padding-inline: 4.375rem;
  padding-top: 3rem;
  max-width: 90rem;
  margin-inline: auto;
}
.vip > h2 {
  font-size: var(--font-2lg);
  text-align: center;
  position: relative;
}
.vip > h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background-color: var(--primary);
  width: 45%;
  height: 2px;
}
.vip > h2::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  background-color: var(--primary);
  width: 45%;
  height: 2px;
}

.vip-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.vip-card-wrapper {
  position: relative;
  min-width: 320px;
  border-radius: 10px;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vip-card-wrapper::before {
  content: "";
  display: block;
  height: 600px;
  width: 600px;
  position: absolute;
  background: linear-gradient(
    90deg,
    var(--primary) 0%,
    #ffffff 100%
  );
  z-index: 0;
}
.vip-card-wrapper:nth-child(odd)::before {
  animation: rotate 2s linear infinite;
}
.vip-card-wrapper:nth-child(even)::before {
  animation: rotate-backwards 2s linear infinite;
}

.vip-card {
  position: relative;
  background-color: var(--bg-dark);
  z-index: 1;
  width: 97.5%;
  height: 97.5%;
  border-radius: 8px;
  padding-inline: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.25rem;
  font-size: var(--font-sm);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 300;
}
.vip-card p {
  font-size: var(--font-xs);
}
.vip-card > h3 {
  font-size: var(--font-2md);
  font-family: "Nunito";
  font-weight: 600;
}
.vip-card > ul {
  list-style-position: inside;
}
.vip-card > .buy {
  margin-top: auto;
}
.vip-card .button {
  margin-top: 0.25rem;
}

@media only screen and (max-width: 1024px) {
  .vip > h2::after {
    width: 35%;
  }
  .vip > h2::before {
    width: 35%;
  }
}
@media only screen and (max-width: 480px) {
  .vip {
    padding: 1.75rem;
  }

  .vip > h2::after {
    display: none;
  }
  .vip > h2::before {
    display: none;
  }

  .vip-card-wrapper {
    min-width: 250px;
    max-width: 250px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-backwards {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

